{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{{/section}}

{{#section 'js'}}
 
<script>
    var modal = document.getElementById('myAcceptModal');
    var span = document.getElementsByClassName('close')[0];
    function viewSettings(){
		 modal.style.display = "block";
    }
    span.onclick = function() {
        modal.style.display = "none";
        }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>
    <!-- end-modal -->
    

        <!-- search -->
        <script>
                $(document).ready(function(){
                  $("#searchInput").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#managementTable tr").filter(function() {
                      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                  });
                });
             </script>
        <!-- end search -->

    <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
              });
               $(function () {

    $('#txtDOB').datetimepicker({
      format: 'd/m/Y',
      timepicker: false,
      mask: true,
    });
      });
    </script>     
    
 {{/section}}

  <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-dark border-right" id="sidebar-wrapper">
          <div class="sidebar-heading"><i class="fa fa-dashboard"></i> Dashboard </div>
          <div class="list-group list-group-flush">
           <a href="/powerful/adminCateMag" class="list-group-item list-group-item-action bg-dark">Categories Management</a>
            <a href="/powerful/adminTagMag" class="list-group-item list-group-item-action bg-dark">Tags Management</a>
            <a href="/powerful/adminMemberMag" class="list-group-item list-group-item-action bg-dark">Member Management</a>
            <a href="/powerful/adminWriterMag" class="list-group-item list-group-item-action bg-dark">Writer Management</a>
            <a href="/powerful/adminEditorMag" class="list-group-item list-group-item-action bg-dark active">Editor Management</a>
            <a href="/powerful/adminPostMag" class="list-group-item list-group-item-action bg-dark">Post Management</a>

          </div>
        </div>
        <!-- /#sidebar-wrapper -->
    
        <!-- Page Content -->
        <div id="page-content-wrapper">
    
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn tag" id="menu-toggle"><i class="fa fa-navicon"></i></button>
    
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> -->

          </nav>
    
            <div class="container-fluid ">
                    <div class="table-wrapper  box-shadow">
                            <div class="table-title bg-dark">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <h2>Add <b>New Editor</b></h2>
                                        </div>
                                        <div class="col-sm-8">						
                                            <a class="btn btn-primary" href="/powerful/adminEditorMag" role="button" style="float:right;">
                                                <i class="fa fa-backward" aria-hidden="true"></i>
                                                Back To List
                                            </a> 
                                        </div>
                                    </div>
                                </div>    
                        <div class="table-filter">
                              <!-- filter -->
                              <div class="row  mt-1">
                                  <div class="col">
                                  </div>
                                  <!-- end filter -->  
                                  <div class="col">
                                          <!-- search -->
                                          

                                  </div>
                                            
                            </div>
            
                             
                        </div>
                        <table class="table table-striped table-hover" id="managementTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Vip</th>						
                                    <th>Expiration Date</th>											                                      
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                               {{#each this.post_status}}
                                <tr class="table-row">
                                    <td>{{post.IDAccount}}</td>
                                    <td>{{post.Username}}</td>
                                    {{#if Yes}}
                                    <td>Yes</td>
                                    {{/if}}
                                    {{#if No}}
                                    <td>No</td>  
                                    {{/if}}
                                    <td>{{post.VipDate}}</td>                                          
                                    <!-- <td><span class="status text-published">&bull;</span></td> -->
                                    
                                    <td class="text-right">
                                    
                                  <a class="btn btn-primary btn-sm" title="Set To New Editor" href="/powerful/chooseCateEditor/{{post.IDAccount}}" role="button">
                                    
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                  </a>

                                </tr>
                                {{/each}}
                                  
                            </tbody>
                        </table>
                            <div class="row">
                        <div class="col-sm-12">
                            <nav aria-label="Page navigation example">
                            <ul class="pagination">
                               
                                <li class="page-item">
                                <a class="page-link" href="?page={{first}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;First</span>
                                </a>
                                </li>
                                 {{#each this.pages}}
                                {{#if active}}
                                <li class="page-item active" aria-current="page">
                                <a class="page-link" href="javascript:;">
                                    {{value}} <span class="sr-only">(current)</span>
                                </a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                <a class="page-link" href="?page={{value}}">{{value}}</a>
                                </li>
                                {{/if}}
                                {{/each}}
                                
                                <li class="page-item">
                                <a class="page-link" href="?page={{last}}" aria-label="Next">
                                    <span aria-hidden="true">Last&raquo;</span>
                                </a>
                                </li>
                                
                            </ul>
                            </nav>
                        </div>
                        </div>
                        </div>    
             </div>
        </div>
        <!-- /#page-content-wrapper -->
    
      </div>
      
      <!-- /#wrapper -->   

  