 {{#section 'css'}}
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{{/section}} 
{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
  $(function () {
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
              });

    $('#frmRegister').validate({
      rules: {
        Name_childcate: {
          required: true,
          
        },
      },
      messages: {
        Name_childcate: {
            required: 'Topic name is required.',
         
        }
        
      },

      errorElement: 'small',
      errorClass: 'help-block text-danger',
      validClass: 'is-valid',
      highlight: function (e) {
        $(e).removeClass('is-valid').addClass('is-invalid');
      },
      unhighlight: function (e) {
        $(e).removeClass('is-invalid').addClass('is-valid');
      }
    });
  })
</script>
{{/section}}


  <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-dark border-right" id="sidebar-wrapper">
          <div class="sidebar-heading"><i class="fa fa-dashboard"></i> Dashboard </div>
          <div class="list-group list-group-flush">
            <a href="/powerful/adminCateMag" class="list-group-item list-group-item-action bg-dark active">Categories Management</a>
            <a href="/powerful/adminTagMag" class="list-group-item list-group-item-action bg-dark">Tags Management</a>
            <a href="/powerful/adminMemberMag" class="list-group-item list-group-item-action bg-dark">Member Management</a>
            <a href="/powerful/adminWriterMag" class="list-group-item list-group-item-action bg-dark">Writer Management</a>
            <a href="/powerful/adminEditorMag" class="list-group-item list-group-item-action bg-dark">Editor Management</a>
            <a href="/powerful/adminPostMag" class="list-group-item list-group-item-action bg-dark">Post Management</a>

            
          </div>
        </div>
        <!-- /#sidebar-wrapper -->
    
        <!-- Page Content -->
        <div id="page-content-wrapper">
    
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn tag" id="menu-toggle"><i class="fa fa-navicon"></i></button>
    
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> -->

          </nav>
       
      <div class="card shadow">
  <h4 class="card-header">
    Edit Category
  </h4>
  <div class="card-body">
    {{#if this.error}}
    <div class="alert alert-danger" role="alert">
      Invalid Topic id.
      <a href="/powerful/adminTopicsMag/{{nameCate.IDCate_Parents}}" class="alert-link">Go Back</a>
    </div>
    {{else}}
    
    <form method="POST" action="/powerful/updateTopic" id="frmRegister" novalidate >
      <div class="form-group">
        <label for="txtCatID">#</label>
        <input readonly type="text" class="form-control" id="txtCatId" name="IDCate_Parents" value="{{nameCate.IDCate_Parents}}">
      </div>
      <div class="form-group">
        <label for="txtCatID">IDTopic</label>
        <input readonly type="text" class="form-control" id="txtTopicID" name="IDCate_Child" value="{{this.topics.IDCate_Child}}">
      </div>
      <div class="form-group">
        <label for="txtCatName">Topic</label>
        <input type="text" class="form-control" id="txtTopicName" name="Name_childcate" autofocus
          value="{{this.topics.Name_childcate}}" placeholder="Enter topic name">
      </div>
      <a class="btn btn-primary" href="/powerful/adminTopicsMag/{{nameCate.IDCate_Parents}}" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        List
      </a>
      <button type="submit" class="btn btn-outline-danger" formaction="/powerful/deleteTopic">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete
      </button>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
    {{/if}}
  </div>
</div>
            
        <!-- /#page-content-wrapper -->
    
      </div>
   
  
</div>
      <!-- /#wrapper -->   