   <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/culture_bg.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        {{#each this.category}}
                        <h2>{{Name_parentscate}}</h2>
                        {{/each}}
                        <div class="btn-group mt-30">
                            {{!-- <a href="sports.html" class="btn my-group-btn">Sports </a>
                            <a href="health.html" class="btn my-group-btn">Healthy </a>
                            <a href="music.html" class="btn my-group-btn">Music</a> --}}
                            {{#each this.topics}}
                            <a href="/{{Name_parentscate}}/{{IDCate_Child}}" class="btn my-group-btn">{{Name_childcate}} </a>
                            {{/each}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END HEADER -->
    <!-- <BREADCRUMB -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            {{#each this.category}}
                            <li class="breadcrumb-item active" aria-current="page">{{Name_parentscate}}<li>
                            {{/each}}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
  
  
   <!-- ##### Archive Post Area Start ##### -->
    <div class="archive-post-area">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-12">
                    <div class="archive-posts-area bg-white p-50 mb-30 box-shadow">
                        <!-- Trending Now Posts Area -->
                        <div class="trending-now-posts mb-30">
                            <!-- Section Title -->
                            <div class="section-heading">
                                <h5>TRENDING NOW</h5>
                            </div>

                            <div class="trending-post-slides owl-carousel">
                                <!-- Single Trending Post -->
                                {{#each this.trending}}
                                <div class="single-trending-post">
                                    <img src="{{Thumbnail}}" alt="">
                                    <div class="post-content">
                                        <a href="#" class="post-cata">{{Name_childcate}}</a>
                                        <a href="/post/{{IDPost}}" class="post-title">{{Title}}</a>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="section-heading">
                            <h5>LATEST NEWS</h5>
                        </div>
                        {{#each this.posts}}
                        <!-- Single Catagory Post -->
                        <div class="single-catagory-post d-flex flex-wrap">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail bg-img" style="background-image: url({{Thumbnail}});">

                            </div>

                            <!-- Post Contetnt -->
                            <div class="post-content">
                                <a href="/post/{{IDPost}} class="post-title">{{Title}}</a>
                                <div class="post-meta">
                                    <a href="/{{Name_parentscate}}/{{FKCategory}}">{{Name_parentscate}} | {{Name_childcate}}</a>
                                    <br/>
                                    <i href="#" style="font-size: 11px;">{{DateComplete}}</i>
                                </div>                                
                                <!-- Post Meta --> 
                                <div class="post-meta-2">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>{{Num_of_View}}</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>{{Num_of_Like}}</a>
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{Num_of_Comment}}</a>
                                </div>
                                <p class="sumary-post-area">{{{Sumary}}}</p>
                            </div>
                        </div>
                        {{/each}}
                        <!-- Pagination -->
                           <div class="row">
                        <div class="col-sm-12">
                            <nav aria-label="Page navigation example">
                            <ul class="pagination">
                               
                                <li class="page-item">
                                <a class="page-link" href="?page={{first}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;First</span>
                                </a>
                                </li>
                                 {{#each this.pages}}
                                {{#if active}}
                                <li class="page-item active" aria-current="page">
                                <a class="page-link" href="javascript:;">
                                    {{value}} <span class="sr-only">(current)</span>
                                </a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                <a class="page-link" href="?page={{value}}">{{value}}</a>
                                </li>
                                {{/if}}
                                {{/each}}
                                
                                <li class="page-item">
                                <a class="page-link" href="?page={{last}}" aria-label="Next">
                                    <span aria-hidden="true">Last&raquo;</span>
                                </a>
                                </li>
                                
                            </ul>
                            </nav>
                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>