<div class="trending-now-posts mb-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>similar post</h5>
                </div>
                <div class="trending-post-slides owl-carousel">
                    <!-- Single Trending Post -->
                    {{#each this.similarPost}}
                    <div class="single-trending-post">
                        <img src="{{Thumbnail}}" alt="thumbnail">
                        <div class="post-content">
                            <a href="/{{Name_parentscate}}/{{IDCate_Child}}" class="post-cata">{{Name_parentscate}} | {{Name_childcate}}</a>
                            <a href="/post/{{IDPost}}" class="post-title">{{Title}}</a>
                        </div>
                    </div>
                    {{/each}}
                   
                </div>
            </div>
            