<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
        <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
        <!--header-->
    <header class="header-area">

        <!-- Navbar Area -->
        <div class="mag-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="magNav">

                    <!-- Nav brand -->
                    <a href="index.html" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Nav Content -->
                    <div class="nav-content d-flex align-items-center">
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="/"><span class="fa fa-home"></span><span> Home</span> </a></li>
                                    <li><a href="#"><span class="fa fa-fire"></span><span> Mega</span></a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                {{#each lcCategories}}
                                                <li id={{IDCate_Parents}}><a href="culture.html">{{Name_parentscate}}</a></li>
                                                
                                                {{/each}}
                                            </ul>
                                            {{!-- <div id={{IDCate_Parents}}>
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/mega_cul1.jpg" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>Top 5 Asia places beautiful in year</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Lê Quốc Dũng | 2 April 2019</p>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/mega_cul2.jpg" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>Beautiful waterfall in Japan</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Vũ Hoàng Dương | 10 April 2019</p>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/mega_cul3.jpg" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>Heart Island attracts millions of tourists</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Nguyễn Hoàng Giang | 11 April 2019</p>
                                                </ul>
                                            </div>
                                            <div id={{IDCate_Parents}} style="display: none;">
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/mega_cul1.jpg" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>Top 5 Asia places beautiful in year</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Lê Quốc Dũng | 2 April 2019</p>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/mega_cul2.jpg" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>Beautiful waterfall in Japan</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Vũ Hoàng Dương | 10 April 2019</p>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/mega_cul3.jpg" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>Heart Island attracts millions of tourists</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Nguyễn Hoàng Giang | 11 April 2019</p>
                                                </ul>
                                            </div>
                                            <div id={{IDCate_Parents}} style="display: none;">
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/politic_1.png" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>US President officially visited Vietnam.</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Lê Quốc Tèo | 2 April 2019</p>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/politic_2.png" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>US - Vietnam summit.</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Vũ Hoàng Dương | 10 April 2019</p>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/politic_3.png" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>US - Russia summit.</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Nguyễn Hoàng Giang | 11 April 2019</p>
                                                </ul>
                                            </div>
                                            <div id={{IDCate_Parents}} style="display: none;">
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/science_1.png" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>Successfully tested breast cancer drugs.</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Lê Quốc Dũng | 2 April 2019</p>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/science_2.png" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>The first picture of the cosmic black hole.</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Vũ Hoàng Dương | 10 April 2019</p>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/science_3.png" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>One day on the International Space Station ISS.</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Nguyễn Hoàng Giang | 11 April 2019</p>
                                                </ul>
                                            </div>
                                            <div id={{IDCate_Parents}} style="display: none;">
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/Economy_1.png" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>US stocks plunged.</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Lê Quốc Tèo | 2 April 2019</p>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/Economy_2.png" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>G20 conference in Korea.</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Vũ Hoàng Dương | 10 April 2019</p>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/Economy_3.png" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>US-China summit.</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Nguyễn Hoàng Giang | 11 April 2019</p>
                                                </ul>
                                            </div>
                                            <div id={{IDCate_Parents}} style="display: none;">
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/military_1.png" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>US Air Force training.</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Lê Quốc Tèo | 2 April 2019</p>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/military_2.png" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>Syrian aircraft shot down.</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Vũ Hoàng Dương | 10 April 2019</p>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <img src="img/bg-img/military_3.png" alt="mega-image" style="margin-bottom: 10px;">
                                                    <p><strong>Vietnam reviewed the independence day.</strong></p>
                                                    <p style="font-size: 10px;color: #B9A4A4;">Nguyễn Hoàng Giang | 11 April 2019</p>
                                                </ul>
                                            </div> --}}
                                        </div>
                                    </li>
                                    <li><a href="#"><span class="fa fa-bars"></span><span> Categories</span></a>
                                       
                                        <ul id="hoverid" class="dropdown" id="categoriesMenu">
                                             {{#each lcCategories}}
                                            <li><a href="/{{Name_parentscate}}">{{Name_parentscate}}</a>
                                                <ul class="dropdown">
                                                    {{!-- <li><a href="sports.html">Sports</a></li>
                                                    <li><a href="health.html">Healthy</a></li>
                                                    <li><a href="music.html">Music</a></li> --}}
                                                    {{#each lcTopics}}
                                                    <li><a href="music.html">{{Name_childcate}}</a></li>
                                                    {{/each}}
                                                </ul>
                                            </li>
                                              {{/each}}
                                            {{!-- <li><a href="politics.html">Politics</a>
                                                <ul class="dropdown">
                                                    <li><a href="diplomatics.html">Diplomatic</a></li>
                                                    <li><a href="Vote.html">Vote</a></li>
                                                    <li><a href="politicsHotNews.html">Hot news</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="Science.html">Science</a>
                                                <ul class="dropdown">
                                                    <li><a href="Invention.html">Invention</a></li>
                                                    <li><a href="application.html">Application</a></li>
                                                    <li><a href="Research.html">Research</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="Economy.html">Economy</a>
                                                <ul class="dropdown">
                                                    <li><a href="Finance.html">Finance</a></li>
                                                    <li><a href="Consumption.html">Consumption</a></li>
                                                    <li><a href="StockExchange.html">Stock Exchange</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="Military.html">Military</a>
                                                <ul class="dropdown">
                                                    <li><a href="MilitaryHotNews.html">Hot news</a></li>
                                                    <li><a href="WeaponContract.html">Weapon Contract</a></li>
                                                    <li><a href="ArmedCoflict.html">Armed Coflict</a></li>
                                                </ul>
                                            </li> --}}
                                        </ul>
                                      
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <div class="top-meta-data d-flex align-items-center">
                            <!-- Top Search Area -->
                            <div class="top-search-area">
                                <form action="index.html" method="post">
                                    <input type="search" name="top-search" id="topSearch" placeholder="Search and hit enter...">
                                    <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                            <!-- Login -->
                            <a id="login" href="sign-in.html" class="login-btn"><i class="fa fa-user" aria-hidden="true"></i></a>
                            <!--Sign-in  -->
                            <a id="regis" href="sign-up.html" class="login-btn"><i class="fa fa-registered" aria-hidden="true"></i></a>
                            <!--User -->
                            <div id="user" class="container">
                                <div class="dropdown">
                                 <a  href="sign-up.html" class="login-btn"><i class="fa fa-user" aria-hidden="true"></i>Dung Le</a>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="edit-info.html">Edit profile</a>
                                    <a id="writerpost" class="dropdown-item" href="submit-posts.html">Submit post</a>
                                    <a id="editorpost" class="dropdown-item" href="editor-Management.html">Editor Management</a>
                                     <a id="adminpost" class="dropdown-item" href="Admin-Categories-Management.html">Admin Management</a>
                                    <a id="logout" class="dropdown-item" href="index.html">Logout</a>
                                  </div>
                                </div>
                                </div>      

                            
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
     {{{body}}}

         <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->

                    <div class="footer-widget text-center">
                        <!-- Logo -->
                        <a href="index.html" class="foo-logo"><img src="img/core-img/light_logo.png" alt=""></a>
                        <p style="color: white;">This is the product created by our team. It is a project of web application development.</p>
                        <div class="footer-social-info">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>


            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <!-- Copywrite Text -->
                    <div class="col-12 col-sm-6">
                        <p class="copywrite-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This website is made with by <a href="https://www.facebook.com/dungle2912" target="_blank">Quốc Dũng</a><a href="https://www.facebook.com/profile.php?id=100008355516151"
                                target="_blank"> , Hoàng Giang</a> <a href="https://www.facebook.com/hd.vux98" target="_blank">, Hoàng Dương</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <nav class="footer-nav">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Advertisement</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

{{!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></body> --}}
<script src="/script/jquery-2.2.4.min.js"></script>
<script src="/script/bootstrap.min.js"></script>
<script src="/script/popper.min.js"></script>
<script src="/script/plugins.js"></script>
<script src="/script/active.js"></script>
</html>