    <!-- ##### Slideshow Area Start ##### -->

    <div class="hero-area owl-carousel">
        <!-- Single Blog Post -->
        {{#each this.topTrending}}
        <div class="hero-blog-post bg-img bg-overlay" style="background-image: url({{Thumbnail}});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="carousel-caption">
                             <a class="slideCategoryButton btn" data-animation="bounceIn" data-delay="500ms"href="{{Name_parentscate}}/{{IDCate_Child}}">{{Name_parentscate}} | {{Name_childcate}}</a>         
                            <a href="/post/{{IDPost}}"><h5 class="tittle" data-animation="fadeInUp" data-delay="300ms">{{Title}}</h5></a>
                            <p class="date" data-animation="fadeInUp" data-delay="300ms">{{DateComplete}}</p>                                  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
            <!-- end-slider -->
    <!-- ##### Mag Posts Area Start ##### -->
    <section class="mag-posts-area d-flex flex-wrap">

        <!-- >>>>>>>>>>>>>>>>>>>>
             Main Posts Area
        <<<<<<<<<<<<<<<<<<<<< -->
        <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
        <div class="trending-now-posts mb-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>MOST POPULAR</h5>
                </div>
                <div class="trending-post-slides owl-carousel">
                    <!-- Single Trending Post -->
                    {{#each this.topViews}}
                    <div class="single-trending-post">
                        <img src="{{Thumbnail}}" alt="thumbnail">
                        <div class="post-content">
                            <a href="/{{Name_parentscate}}/{{IDCate_Child}}" class="post-cata">{{Name_parentscate}} | {{Name_childcate}}</a>
                            <a href="/post/{{IDPost}}" class="post-title">{{Title}}</a>
                        </div>
                    </div>
                    {{/each}}
                   
                </div>
            </div>
            <br/>
            <!-- Sports Videos -->
            <div class="sports-videos-area">
                <div class="row">                   
                    {{#each this.postEachTopic}}
                    <!-- Single Blog Post -->
                    <div class="col-12 col-lg-4 ">
                        <div class="single-blog-post style-4">
                            <div class="section-heading"><a href="/{{Name_parentscate}}/{{IDCate_Child}}"class="post-cata">{{Name_parentscate}} | {{Name_childcate}}</a></div>
                            <div class="post-thumbnail">
                                <img src="{{Thumbnail}}" alt="thumbnail">
                            </div>
                            <div class="post-content">
                                <a href="/post/{{IDPost}}" class="post-title">{{Title}}</a>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>{{Num_of_View}}</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>{{Num_of_Like}}</a>
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{Num_of_Comment}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>

            </div>
        </div>

        <!-- >>>>>>>>>>>>>>>>>>>>
         Post Right Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
        <div class="post-sidebar-area right-sidebar mt-30 mb-30 box-shadow">

            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30 ">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Latest Posts</h5>
                </div>

                <!-- Single Blog Post -->
                {{#each this.topLasted}}
                <div class="single-blog-post d-flex">
                    <div class="small-post-thumbnail">
                        <img src="{{Thumbnail}}" alt="thumbnail">
                    </div>
                    <div class="post-content">
                        <a href="/post/{{IDPost}}" class="post-title">{{Title}}</a>
                        <div class="post-meta d-flex justify-content-between">
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>{{Num_of_View}}</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>{{Num_of_Like}}</a>
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{Num_of_Comment}}</a>
                        </div>
                    </div>
                </div> 
                {{/each}}
            </div>

            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Categories</h5>
                </div>
                <!-- Catagory Widget -->
                <ul class="catagory-widgets">
                    {{#each this.category}}
                    <li><a href="/{{Name_parentscate}}"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{Name_parentscate}}</span> <span>{{num_of_posts}}</span></a></li>
                    {{/each}}
                </ul>
               
            </div>
        </div>
           
            

            <!-- Sidebar Widget -->
            {{!-- <div class="single-sidebar-widget sticky-top ">

                        <a href="#" class="add-img"><img src="img/bg-img/add.png" alt=""></a>
            </div> --}}
           
        </div>
    </section>
    <!-- ##### Mag Posts Area End ##### -->