
        <!--header-->
    <header class="header-area">

        <!-- Navbar Area -->
        <div class="mag-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="magNav">

                    <!-- Nav brand -->
                    <a href="index.html" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Nav Content -->
                    <div class="nav-content d-flex align-items-center">
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="/"><span class="fa fa-home"></span><span> Home</span> </a></li>
                                 
                                    <li><a href="#"><span class="fa fa-bars"></span><span> Categories</span></a>
                                       
                                        <ul id="hoverid" class="dropdown" id="categoriesMenu">
                                             {{#each lcCategories}}
                                            <li><a href="/{{Name_parentscate}}">{{Name_parentscate}}</a>
                                                {{!-- <ul class="dropdown">
                                                    {{#each lcTopics}}
                                                    <li><a href="music.html">{{Name_childcate}}</a></li>
                                                    {{/each}}
                                                </ul> --}}
                                            </li>
                                              {{/each}}
                                            
                                           
                                        </ul>
                                      
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <div class="top-meta-data d-flex align-items-center">
                            <!-- Top Search Area -->
                            <div class="top-search-area">
                                <form action="index.html" method="post">
                                    <input type="search" name="top-search" id="topSearch" placeholder="Search and hit enter...">
                                    <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                            <!-- Login -->
                            <form id="frmSignOut" action="/account/logout" method="POST"></form>
                             {{#if isAuthenticated}}
                              <!--User -->
                             <div id="user" class="container">
                                <div class="dropdown">
                                 <a  ></i>Hi, <b>{{authUser.Username}}</b></a>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/account/profile">Edit profile</a>
                                    {{#if isWriter}}
                                        <a id="writerpost" class="dropdown-item" href="/powerful/submitPost">Submit post</a>
                                     {{/if}}
                                     {{#if isEditor}}
                                        <a id="editorpost" class="dropdown-item" href="/powerful/editorMag">Editor Management</a>
                                     {{/if}}
                                     {{#if isAdmin}}
                                       <a id="adminpost" class="dropdown-item" href="/">Admin Management </a>
                                     {{/if}}
                                    <a id="logout" class="dropdown-item" href="javascript: $('#frmSignOut').submit();">Logout</a>
                                  </div>
                                </div>
                                </div>      
                            {{else}}
                            
                            <a id="login" href="/account/login" class="login-btn"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                            <!--Sign-in  -->
                            <a id="regis" href="/account/register" class="login-btn"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
                           
                        {{/if}}
                            
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
