{{#section 'js'}}
    <script>
        $(document).ready(function(e){
        $('.search-panel .dropdown-menu').find('a').click(function(e) {
            e.preventDefault();
            var param = $(this).attr("href").replace("#","");
            var concept = $(this).text();
            $('.search-panel span#search_concept').text(concept);
            $('.input-group #search_param').val(param);
        });
    });
    </script>
{{/section}}
<!--main content-->
<div class="archive-post-area">
        <div class="container">

            

            <div class="row justify-content-center">
                <div class="col-12 col-xl-12">
                    <div class="archive-posts-area bg-white p-50 mt-30 mb-30 box-shadow">

                        {{!-- search --}}

                          <form class="form">
                              <input class="form-control mr-sm-2" name="search" type="text" placeholder="Search" aria-label="Search">
                               <div class="form-group ">                                                 
                                                <select   id="filter" name="filter" class="form-control">                                                 
                                                    <option value=0>Default</option>                                                   
                                                    <option value=1>Title</option> 
                                                    <option value=2>Content</option>                                                   
                                                </select>                                                                
                                </div>
                                <button class="btn mag-btn my-2 my-sm-0" type="submit">Search</button>  
                        </form>

            {{!-- end search --}}
            <div class="section-heading mt-30 mb-30">
                    <h5>Result</h5>
                </div>

                        {{#each this.posts}}
                        <!-- Single Catagory Post -->
                        <div class="single-catagory-post d-flex flex-wrap">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail bg-img" style="background-image: url({{post.Thumbnail}});">

                            </div>

                            <!-- Post Contetnt -->
                            <div class="post-content">
                                <a href="/post/{{post.IDPost}}" class="post-title">{{post.Title}}</a>
                                <div class="post-meta">
                                   {{!-- <a href="#">{{post.Name_childcate}}</a>
                                    <br/> --}}
                                    <i href="#" style="font-size: 11px;">{{post.DateComplete}}</i>
                                    <br>
                                    {{#if isVipPost}}
                                    <i  style="font-size: 13px; color:darkorange" class="fa fa-star"> VIP</i>

                                    {{/if}}
                                </div>                                
                                <!-- Post Meta -->
                                <div class="post-meta-2">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>{{post.Num_of_View}}</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>{{post.Num_of_Like}}</a>
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{post.Num_of_Comment}}</a>
                                </div>
                                <p class="sumary-post-area">{{{Sumary}}}</p>
                            </div>
                        </div>
                        {{/each}}
                 
                        <div class="row">
                        <div class="col-sm-12">
                            <nav aria-label="Page navigation example">
                            <ul class="pagination">
                               
                                <li class="page-item">
                                <a class="page-link" href="?page={{first}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;First</span>
                                </a>
                                </li>
                                 {{#each this.pages}}
                                {{#if active}}
                                <li class="page-item active" aria-current="page">
                                <a class="page-link" href="javascript:;">
                                    {{value}} <span class="sr-only">(current)</span>
                                </a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                <a class="page-link" href="?page={{value}}">{{value}}</a>
                                </li>
                                {{/if}}
                                {{/each}}
                                
                                <li class="page-item">
                                <a class="page-link" href="?page={{last}}" aria-label="Next">
                                    <span aria-hidden="true">Last&raquo;</span>
                                </a>
                                </li>
                                
                            </ul>
                            </nav>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>